:root {
  --color-red: #F21F30;
  --color-yellow: #F5B120;
  --color-orange: #F9622B;
  --color-purple: #641E50;
  --color-beige: #FEF9F2;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #B3ADA5;

  --xs: 12px;
  --s: 18px;
  --m: 24px;
  --l: 36px;
  --xl: 42px;
  --xxl: 54px;
  --xxxl: 72px;
}